*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.pdcasts{
    align-self: center;
}
.linkcabecalho:hover{
    color: #ebebeb;
  }
.linkcabecalho {
    margin-left: 1034px;
    border: 0;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    color: #1e1e1e;
    text-decoration: none;
}
.logoimg{
    margin-left: 20px;
    margin-top: 15px;
    max-width: 10em;

 }
 .cabecalho{
    padding-right: 20px;
    background-color: #2a85bc;
 }