*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.linkcabecalho {
    color: #2a85bc;
    text-decoration: solid;
}
.logoimg{
    margin-left: 20px;
    margin-top: 15px;
    max-width: 10em;

 }
 .cabecalho{
    padding-right: 20px;
    background-color: #1e1e1e;
 }